html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main_body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_image{
    height: 300px;
    width: 700px;
    background-color: #322C2B;
    border: 2px solid black;
    color: #EEEEEE;  
    display: flex;     
}
.hackerrank{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 7rem;
    margin-right: 2.3rem;
}
.paragraph{
    margin-left: 1rem;
    font-size: 0.5rem;
}
.gmail{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.gmailpara{
   margin-left: 0.9rem;
   font-size: 0.5rem;
}
.github{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.7rem;
    margin-right: 3.3rem;
}
.gitpara{
    margin-left: 1.1rem ;
    font-size: 0.5rem;
}
.instagram{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-right:2.3rem;
}
.instapara{
    font-size:0.5rem;
    margin-left: 1.3rem;
}
.logo{
    background-color: #E4C59E;
    font-size: 4rem;
    margin-left: 1.3rem;
}
.information{
   display: inline-block;
   margin-bottom: 7rem;
   margin-left: 2.5rem;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
